.header-support {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10%;
    margin-right: 10%;

}

.h1-text-holder {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5vw;
}

.center-children > h2, div, img {
    margin: auto;
}

.header-support > h2 {
    margin: auto;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2vw;
}

.full-width {
    width: 100%;
}

.highlighter {
    margin: auto;
    margin-left: 3%;
}

.picture-container {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.picture-display {
    position: relative;
}

.image-text-middle-right {
    position: absolute;
    top: 50%;
    left: 78%;
    transform: translate(-50%, -50%);
}

.h2-image-welcome-text {
    font-size: 7vw;
    margin-bottom: 0px;
}
.h2-image-library-text {
    margin-top: 5px;
    font-size: 2.6vw;
}
.rubik-font {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
}

.uppercase {
    text-transform: uppercase;
}

