.header-support {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10%;
    margin-right: 10%;

}

.h1-text-holder {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 3.6vw;
}

.center-children > h2, div, img {
    margin: auto;
}

.children-align-top > h2, div, img {
    margin-top: 0%;
}

.header-support > h2 {
    margin: auto;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2vw;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.highlighter {
    margin: auto;
    margin-left: 3%;
}

.picture-container {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.picture-display {
    position: relative;
}

.image-text-middle-right {
    position: absolute;
    top: 50%;
    left: 78%;
    transform: translate(-50%, -50%);
}

.h2-image-welcome-text {
    font-size: 7vw;
    margin-bottom: 0px;
}
.h2-image-library-text {
    margin-top: 5px;
    font-size: 2.6vw;
}
.rubik-font {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
}

.uppercase {
    text-transform: uppercase;
}

.rectangle_a {
    background-color: black;
    width: 30vw;
    height: 1vw;
}

.round-corners {
    border-radius: 10px;
}

.btn-round-corners {
    border-radius: 5vw;
}

.h2-block-headline-text {
    margin-top: 5%;
    font-size: 4vw;
}

.h2-block-content-text {
    font-size: 3vw;
}

.browse-button {
    background: none;
    border: 0.3vw solid black;
    box-shadow: none;
    font-size: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.footer-support {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
}

.div-rubik-font-contents > h2, h1, p {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
}

.div-footer-support > h2, h1, p {
    color: white;
}

.adjust-images-a > img {
    margin-top: 2vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    width: 6vw;
    height: 6vw;
}