.header-support {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10%;
    margin-right: 10%;

}

.h1-text-holder {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5vw;
}

.center-children > h2, div, img {
    margin: auto;
}

.header-support > h2 {
    margin: auto;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 1.9vw;
}

.full-width {
    width: 100%;
}

.highlighter {
    margin: auto;
    margin-left: 3%;
}