.fullscrv {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

body {
    display: flex;
}

.work-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    height: 90%;
    margin: auto;
}

.work-area > div {
    display: inline-block;
    margin: auto;
    opacity: 0.9;
}

.work-area > div:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
}

.hdarea {
    background-color: pink;
    border-radius: 10px 10px 0px 0px;
    padding: 1vw;
}

.hdarea > h3 {
    margin: 0;
    padding: 0.3vw;
}

.ftarea {
    background: rgb(255, 147, 165);
    border-radius: 0px 0px 10px 10px;
    padding: 1vw;
}

.ftarea > h3 {
    margin: 0;
    padding: 0.3vw;
}


@media (min-aspect-ratio: 16/9) {
    .fullscrv {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .fullscrv { 
        width: auto;
        height: 100%;
    }
}

@media screen and (max-width:680px) {
    .fullscrv {
        display: none;
    }

    body {
        background-image: url('media/image.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
}