.div-bg {
    position: absolute;
    background-image: url('media/bookshelf.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    -webkit-filter: blur(8px);
    filter: blur(8px);
    z-index: -100;
}

body {
    display: flex;
}

.work-area {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 10px;
    padding: 1vw;
}

.work-area > h2 {
    font-size: 1.6vw;
    font-family: Arial, Helvetica, sans-serif;
    
}

.work-area > input, textarea {
    border: none;
    border-bottom: 1px solid black;
    background-color: lightgray;
    font-size: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.5vw;
}

.button-area {
    width: 100%;
    display: flex;
}

.button-area > button {
    box-shadow: none;
    padding: 0.3vw;
    font-size: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    width: 40%;
    margin: auto;
    background-color: rgb(194, 194, 194);
}

.button-area > button:hover {
    background-color: rgb(168, 168, 168);
}

@media screen and (max-width:680px) {
    .div-bg {
        background-size: auto 100%;
    }

    .work-area {
        padding: 1vh;
    }

    .work-area > h2 {
        font-size: 1.6vh;
    }

    .work-area > input, textarea {
        font-size: 1.4vh;
        margin-bottom: 0.5vh;
    }

    .button-area > button {
        font-size: 1.4vh;   
    }
}